{% extends 'base.html.twig' %}
{% block body %}
<h1>Présences pour la séance {{ seance.date|date('Y-m-d H:i') }}</h1>
<form method="post">
<table>
<tr><th>Étudiant</th><th>Statut</th></tr>
{% for student in students %}
<tr>
    <td>{{ student.firstname }} {{ student.lastname }}</td>
    <td>
        <select name="status_{{ student.id }}">
            <option value="">--</option>
            <option value="present">Présent</option>
            <option value="absent">Absent</option>
            <option value="retard">Retard</option>
        </select>
    </td>
</tr>
{% endfor %}
</table>
<button type="submit">Enregistrer</button>
</form>
{% endblock %}
