{% extends 'base.html.twig' %}
{% block body %}
<h1>Nouvelle séance</h1>
{{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.matiere) }}
    <button class="btn">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}
