{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur PRÉSENCIA</h1>
<p>Connectez-vous pour commencer.</p>
<a href="{{ path('login') }}" class="btn btn-primary">Connexion</a>
{% endblock %}
